---
layout: default
---
{% include 2014-intro.html %}

{% capture anchors %}
  <li><a href="#tema">Téma</a></li>
  <li><a href="#eloadok">Előadók</a></li>
  <li><a href="#helyszin">Helyszín</a></li>
  <li><a href="#regisztracio">Regisztráció</a></li>
{% endcapture %}
{% include sticky-menu.html %}

<section id="tema" class="content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Téma</h1>

      <p>Földünk egy kozmikus küzdelem színtere, amelynek központi kérdése Isten jelleme. A Vádló azt szeretné elhitetni az egész világegyetemmel, hogy Istenben nincs szeretet, hogy valójában csak a maga hasznát keresi. Mindent megtesz annak érdekében, hogy mindenkinek a szemében egy hamis istenképet alakítson ki.</p>

      <p>Isten kidolgozott egy tervet, amely örökérvényűen bemutatja, hogy szeretete nem ismer határokat; hogy Ő maga a Szeretet. Krisztus megváltó kereszthalála volt ennek a kulcsa, és mi mindannyian munkatársak lehetünk tervében.</p>

      <blockquote>Jézus eljött, hogy közöttünk lakozzék, s kinyilatkoztassa az Atyát mind az emberek, mind az angyalok előtt. Ő Isten Igéje volt - Isten gondolatait tette érthetővé. … De ez a kinyilatkoztatás nem csupán földi gyermekeinek szól. Kicsiny világunk az egész mindenség tankönyve. Isten kegyelmének csodálatos terve, a megváltó szeretet titka az a tantárgy, amelybe „angyalok vágyakoznak betekinteni” (1Pt 1:12), és amelyet végtelen időkön át kutatni fognak. Mind a megváltottak, mind az el nem bukott lények számára Krisztus keresztje lesz az ismeret és a dicséret forrása. – <em>Jézus Élete, 11. o.</em></blockquote>

      <p>Elköteleztük magunkat arra, hogy válaszoljunk Krisztus hívására, és bemutassuk Őt az embereknek. Radikális döntésünk miatt ne gondoljuk azt, hogy az ellenség nem tesz meg mindent annak érdekében, hogy elbátortalanítson, és megakadályozza küldetésünket.</p>

      <p>A jó hír az, hogy a győzelem már a miénk Jézusban. Bár a harc tovább folytatódik, ha elköteleztük magunkat a győztes oldalon, akkor a siker biztosítva van.</p>

      <p>Ezért választottuk idén ezt a nagyszerű témát: „Emberek és angyalok előtt”. Váltsunk nézőpontot, és tekintsünk életünkre a nagy küzdelem szemszögéből! A harcnak, amelynek részesei vagyunk, kozmikus következményei vannak. Kötelezzük el magunkat újra, hogy a keresztre feszített Megváltót helyezzük életünk középpontjába, és hitelesen fogjuk Őt bemutatni emberek és angyalok előtt!</p>
    </div>
  </div>
</section>

<section id="eloadok" class="speakers content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Előadók</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h2>Daniel Pel</h2>
      <span class="th">{% image 2014/daniel.jpg %}</span>
      <p>
        Daniel Pel egy nemzetközileg keresett előadó, aki az egész
        földgolyót beutazta, hogy fontos és lebilincselő bibliai
        üzeneteket oszthasson meg másokkal. Az Írásokat bemutató
        dinamikus és logikus előadásmódja inspiráció sokak számára.
        Bár Új-Zélandon született holland szülők gyermekeként, Daniel
        élete legnagyobb részét Európában töltötte, s feleségével,
        Silviával, jelenleg Norvégiában élnek.  Ketten egy
        <a href="http://livingwater.no/">Living Water</a>
        (Élő Víz) nevű missziós alapítványt működtetnek, s vágyuk az,
        hogy az emberek szomjúságát Jézus Krisztus evangéliumával
        csillapíthassák.
      </p>
    </div>
    <div class="medium-6 columns">
      <h2>Sebastien Matula</h2>
      <span class="th">{% image 2014/sebastien.jpg %}</span>
      <p>
        Sebastian Matula jelenleg másodéves teológushallgató a Newboldi
        Főiskolán. Svédországban született magyar szülők gyermekeként,
        és Magyarországon élt 6 éven keresztül. Mielőtt komolyan vette
        volna hitét és Isten szolgálatába lépett volna, profi
        futballista volt, aki fényes jövőnek nézett elébe. Azonban egy
        sérülés megállította ezen a pályán, ami végül elvezette arra,
        hogy átgondolja az élet fontosságát és rádöbbentette, hogy
        egyedül Jézus Krisztus állja ki az idő próbáját. Megtérése óta
        Sebastian azért él, hogy megoszthassa Jézus Krisztus örökkévaló
        evangéliumát a Hármas Angyali Üzenet (Jelenések 14:6-12)
        összefüggésében.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h2>Zippora Anson</h2>
      <span class="th">{% image 2014/zippora.jpg %}</span>
      <p>
        Zippora Anson 2008-ban végzett az ARISE programon és 2010-ben
        nemzetközi jogból diplomázott a Ledeini Egyetemen.  Annak
        ellenére, hogy bankokkal és az Üdvhadsereggel dolgozott, igazi
        szenvedélye mégis az volt, hogy részese lehetett a fiatalok egy
        olyan magjának, akik elhívatást éreztek arra, hogy valamit
        elindítsanak Hollandiában, egy országban, amely gyakorlatilag
        vallási érdeklődéstől mentes.  Zippora 2007-től 2012-ig a
        <a href="http://youthforall.nl/?lang=en">Youth for All</a>
        (Fiatalok Mindenkiért) rendezvény program osztályának
        volt a vezetője, és az itt szerzett tapasztalatokkal nagyban
        hozzájárult a 2012-es GYC Európa konferencia szervezéséhez.
        Jelenleg a Youth for All evangelizációs osztályát vezeti,
        az ADRA Hollandia titkára, valamint egy pszichiátriai
        klinika menedzsereként dolgozik.  Folyamatosan imacsoportokat
        vezet európai fiatalok körében, hogy a reformáció kialvó parazsát
        felélesszék.
      </p>
    </div>
    <div class="medium-6 columns">
      <h2>Stramszki István</h2>
      <span class="th">{% image 2014/stramszki.jpg %}</span>
      <p>
        Stramszki István gimnáziumi tanulmányait matematika-fizika
        szakon Egerben végezte. A közgazdaság-tudományi egyetem
        elvégzése mellett a Sola Scriptura Teológiai Főiskola teológiai
        szakára is áthallgatott.  Az informatika és a közgazdaságtan
        iránti érdeklődése azóta sem hagyott alább, de 1989 óta főként
        bibliai ismeretterjesztéssel foglalkozik: előadásokat tart
        országszerte, valamint másfél évtizedig ószövetségi történelmet
        tanított a Sola Scriptura Teológiai Főiskolán.  Emellett bibliai
        tárgyú könyveket és cikkeket fordít angol és német nyelvről
        illetve változó rendszerességgel hírlevelet jelentet meg
        elektronikus formában.
      </p>
    </div>
  </div>
</section>

<section id="helyszin" class="content">
  <div class="row">
    <div class="medium-12 columns">
      <h1>Helyszín</h1>
      <h2>
        <a href="http://www.hotelromai.hu/">Hotel Római</a>
        <small>1039 Budapest, Szent János u. 16.</small>
      </h2>
      <div class="row">
        <div class="medium-6 columns">
          <div class="flex-video">
            <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x4741d9f2fc857e93%3A0xc35642ba3fbb42bb!2s1039+Budapest%2C+Szent+J%C3%A1nos+utca+16%2C+Magyarorsz%C3%A1g!5e0!3m2!1shu!2s!4v1387560106095" width="600" height="450" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
        <div class="medium-6 columns">
          <img src="http://www.hotelromai.hu/pictures/hotel-romai-07.jpg" alt="Hotel Római">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="regisztracio" class="content">
  <div class="row">
    <div class="small-12 columns text-center">
      <a href="http://reg.fjk.hu" class="button large radius">Regisztrálj még ma!</a>
    </div>
  </div>
</section>
