---
layout: default
---
{% include fjk-2014-intro.html %}

{% capture anchors %}
  <li><a href="#tema">Téma</a></li>
  <li><a href="#eloadok">Előadók</a></li>
  <li><a href="#helyszin">Helyszín</a></li>
  <li><a href="#regisztracio">Regisztráció</a></li>
{% endcapture %}
{% include sticky-menu.html %}

<section id="tema" class="content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Téma</h1>

      <p>Földünk egy kozmikus küzdelem színtere van, amelynek központi kérdése Isten jelleme. A vádló azt szeretné elhitetni az egész világegyetemmel, hogy Isten nem maga a szeretet, hogy valójában Ő csak a maga hasznát keresi. Mindent megtesz annak érdekében, hogy mindenkinek a képében egy hamis istenképet alakítson ki.</p>

      <p>Isten kidolgozott egy tervet, amely örökérvényűen bemutatja, hogy szeretete nem ismer határokat; hogy Ő maga a szeretet. Krisztus megváltó kereszthalála volt ennek a tervnek a kulcsa, mi mindannyian pedig munkatársak lehetünk tervében.</p>

      <blockquote>Jézus eljött, hogy közöttünk lakozzék, s kinyilatkoztassa az Atyát mind az emberek, mind az angyalok előtt. Ő Isten Igéje volt - Isten gondolatait tette érthetővé. … De ez a kinyilatkoztatás nem csupán földi gyermekeinek szól. Kicsiny világunk az egész mindenség tankönyve. Isten kegyelmének csodálatos terve, a megváltó szeretet titka az a tantárgy, amelybe „angyalok vágyakoznak betekinteni” (1Pt 1:12), és amelyet végtelen időkön át kutatni fognak. Mind a megváltottak, mind az el nem bukott lények számára Krisztus keresztje lesz az ismeret és a dicséret forrása.” – <em>Jézus Élete, 11. o.</em></blockquote>

      <p>Elköteleztük magunkat arra, hogy válaszoljunk Krisztus elhívásának, és bemutassuk Őt az embereknek. Radikális döntésünk miatt ne gondoljuk azt, hogy az ellenség nem tesz meg mindent annak érdekében, hogy elbátortalanítson, és megakadályozza küldetésünket.</p>

      <p>A jó hír az, hogy a győzelem már a miénk Jézusban. Bár a harc tovább folytatódik, ha elköteleztük magunkat a győztes oldalon, akkor a siker biztosítva van.</p>

      <p>Ezért ez a témánk idén: „Emberek és angyalok előtt”. Váltsunk nézőpontot, tekintsünk életünkre a nagy küzdelem szemszögéből. A harcnak, amelynek részesei vagyunk, kozmikus következményei vannak. Kötelezzük el magunkat újra, hogy a keresztre feszített Megváltót helyezzük életünk középpontjába, és Őt mutatjuk be hitelesen embereknek és angyaloknak.</p>
    </div>
  </div>
</section>

<section id="eloadok" class="content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Előadók</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h2>Daniel Pel</h2>
      <span class="th">{% image 2014/daniel.jpg %}</span>
      <p>
        Daniel Pel is an international sought after speaker, who has
        travelled the globe, sharing relevant and engaging topics from
        the Bible. His dynamic and logical way of presenting the
        Scriptures has been an inspiration to many. Though originally
        born in New Zealand to Dutch parents, Daniel has spent most of
        his life in Europe, and now lives with his wife, Silvia, in
        Norway. Together they run a ministry called Living Water,
        seeking to quench the thirst of people with the gospel of Jesus
        Christ.
      </p>
    </div>
    <div class="medium-6 columns">
      <h2>Sebastien Matula</h2>
      <span class="th">{% image 2014/sebastien.jpg %}</span>
      <p>
        Sebastian Matula is currently a second year theology student at
        Newbold College. Was born in Sweden to Hungarian parents and has
        also lived in Hungary for 6 years. Before taking his faith
        seriously and entering ministry, he was a professional football
        player with a bright future. But an injury stopped him, which
        eventually led Him to reconsider the importance of life and
        discovered that only Jesus Christ stands the test of time. Ever
        since his conversion, Sebastian lives and breathes to share the
        everlasting gospel of Jesus Christ in the context of the Three
        Angels´ Messages in Revelation 14:6-12.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h2>Zippora Anson</h2>
      <span class="th">{% image 2014/zippora.jpg %}</span>
      <p>
        Zippora Anson, a graduate of the ARISE program in 2008,
        completed her graduate studies in Public International Law from
        Leiden University in 2010.  Though she has worked with banks and
        the salvation army, her passion was being part of a core group
        of youth that were inspired to begin something in the
        Netherlands, a country virtually devoid of religious interest.
        Zippora chaired the programming department for Youth for All
        from 2007-2012, and with that experience aided heavily in the
        organization of GYC-Europe in 2012.  She currently chairs Youth
        for All's evangelism department, serves as the secretary for
        ADRA Netherlands, and works as a manager at a psychiatric
        clinic. She continues to lead out in seasons of prayer among
        European youth to revive the dormant embers of the
        reformation.
      </p>
    </div>
    <div class="medium-6 columns">
      <h2>Stramszki István</h2>
      <span class="th">{% image 2014/stramszki.jpg %}</span>
      <p>
        Gimnáziumi tanulmányaimat Egerben végeztem, matematika-fizika
        szakon. A közgazdaság-tudományi egyetem elvégzése mellett a Sola
        Scriptura Teológiai Főiskola teológiai szakára is áthallgattam.
        Az informatika és a közgazdaságtan iránti érdeklődésem azóta sem
        hagyott alább, de 1989 óta főként bibliai ismeretterjesztéssel
        foglalkozom: előadásokat tartok országszerte, valamint másfél
        évtizedig ószövetségi történelmet tanítottam a Sola Scriptura
        Teológiai Főiskolán.  Emellett bibliai tárgyú könyveket és
        cikkeket fordítok angol és német nyelvről illetve változó
        rendszerességgel hírlevelet jelentetek meg elektronikus
        formában. Az igehirdetések és előadások hanganyagából, valamint
        a hírlevelekből és egyéb írásokból a stramszki.hu weboldalon
        talál ízelítőt a kedves olvasó.
        </p>
    </div>
  </div>
</section>

<section id="helyszin" class="content">
  <div class="row">
    <div class="medium-12 columns">
      <h1>Helyszín</h1>
      <h2>
        <a href="http://www.hotelromai.hu/">Hotel Római</a>
        <small>1039 Budapest, Szent János u. 16.</small>
      </h2>
      <div class="row">
        <div class="medium-6 columns">
          <div class="flex-video">
            <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x4741d9f2fc857e93%3A0xc35642ba3fbb42bb!2s1039+Budapest%2C+Szent+J%C3%A1nos+utca+16%2C+Magyarorsz%C3%A1g!5e0!3m2!1shu!2s!4v1387560106095" width="600" height="450" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
        <div class="medium-6 columns">
          <img src="http://www.hotelromai.hu/pictures/hotel-romai-07.jpg" alt="Hotel Római">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="regisztracio" class="content">
  <div class="row">
    <div class="small-12 columns text-center">
      <a href="http://reg.fjk.hu" class="button large radius">Regisztrálj még ma!</a>
    </div>
  </div>
</section>
