---
layout: default
---
{% include fjk-2014-intro.html %}

{% capture anchors %}
  <li><a href="#tema">Téma</a></li>
  <li><a href="#eloadok">Előadók</a></li>
  <li><a href="#helyszin">Helyszín</a></li>
  <li><a href="#regisztracio">Regisztráció</a></li>
{% endcapture %}
{% include sticky-menu.html %}

<section id="tema" class="content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Téma</h1>

      <p>We are young people committed to Jesus Christ and His call of a radical commitment to Him.  Because of your radical choice, do you not think the enemy of souls is not going to try to alter our commitment and ultimately discourage us in our walk with Christ?  Of course he is.</p>

      <p>The good news is that victory is ours in Jesus.  Though the battle rages on, if we have committed ourselves to the winning side, our victory is assured.</p>

      <p>Hence, our theme this year. We want to bring together thousands of young people from around the world and let them all know that we are in this fight together. “We may be weak and helpless in ourselves, yet all the forces of heaven are at the command of the believing child of God, and the hosts of hell cannot make him depart from the right course if he clings to God by living faith” (Review & Herald, May 20, 1884).</p>

      <p>Yes, GYC has historically had great meetings; but it is nothing without you and your commitment to Jesus.</p>

      <p>Our theme for this year’s GYC conference is “Before Men and Angels,” taken from Paul’s words to the Corinthians: “ . . . for we are made a spectacle unto the world, and to angels, and to men” (1 Cor. 4:9).  The struggle we face here is one of cosmic consequences, a battle being waged not just before men but before angels as well.</p>
    </div>
  </div>
</section>

<section id="eloadok" class="content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Előadók</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h2>Daniel Pel</h2>
      <span class="th">{% image 2014/daniel.jpg %}</span>
      <p>
        Daniel Pel is an international sought after speaker, who has
        travelled the globe, sharing relevant and engaging topics from
        the Bible. His dynamic and logical way of presenting the
        Scriptures has been an inspiration to many. Though originally
        born in New Zealand to Dutch parents, Daniel has spent most of
        his life in Europe, and now lives with his wife, Silvia, in
        Norway. Together they run a ministry called Living Water,
        seeking to quench the thirst of people with the gospel of Jesus
        Christ.
      </p>
    </div>
    <div class="medium-6 columns">
      <h2>Sebastien Matula</h2>
      <span class="th">{% image 2014/sebastien.jpg %}</span>
      <p>
        Sebastian Matula is currently a second year theology student at
        Newbold College. Was born in Sweden to Hungarian parents and has
        also lived in Hungary for 6 years. Before taking his faith
        seriously and entering ministry, he was a professional football
        player with a bright future. But an injury stopped him, which
        eventually led Him to reconsider the importance of life and
        discovered that only Jesus Christ stands the test of time. Ever
        since his conversion, Sebastian lives and breathes to share the
        everlasting gospel of Jesus Christ in the context of the Three
        Angels´ Messages in Revelation 14:6-12.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h2>Zippora Anson</h2>
      <span class="th">{% image 2014/zippora.jpg %}</span>
      <p>
        Zippora Anson, a graduate of the ARISE program in 2008,
        completed her graduate studies in Public International Law from
        Leiden University in 2010.  Though she has worked with banks and
        the salvation army, her passion was being part of a core group
        of youth that were inspired to begin something in the
        Netherlands, a country virtually devoid of religious interest.
        Zippora chaired the programming department for Youth for All
        from 2007-2012, and with that experience aided heavily in the
        organization of GYC-Europe in 2012.  She currently chairs Youth
        for All's evangelism department, serves as the secretary for
        ADRA Netherlands, and works as a manager at a psychiatric
        clinic. She continues to lead out in seasons of prayer among
        European youth to revive the dormant embers of the
        reformation.
      </p>
    </div>
    <div class="medium-6 columns">
      <h2>Stramszki István</h2>
      <span class="th">{% image 2014/stramszki.jpg %}</span>
      <p>
        Gimnáziumi tanulmányaimat Egerben végeztem, matematika-fizika
        szakon. A közgazdaság-tudományi egyetem elvégzése mellett a Sola
        Scriptura Teológiai Főiskola teológiai szakára is áthallgattam.
        Az informatika és a közgazdaságtan iránti érdeklődésem azóta sem
        hagyott alább, de 1989 óta főként bibliai ismeretterjesztéssel
        foglalkozom: előadásokat tartok országszerte, valamint másfél
        évtizedig ószövetségi történelmet tanítottam a Sola Scriptura
        Teológiai Főiskolán.  Emellett bibliai tárgyú könyveket és
        cikkeket fordítok angol és német nyelvről illetve változó
        rendszerességgel hírlevelet jelentetek meg elektronikus
        formában. Az igehirdetések és előadások hanganyagából, valamint
        a hírlevelekből és egyéb írásokból a stramszki.hu weboldalon
        talál ízelítőt a kedves olvasó.
        </p>
    </div>
  </div>
</section>

<section id="helyszin" class="content">
  <div class="row">
    <div class="medium-12 columns">
      <h1>Helyszín</h1>
      <h2>
        <a href="http://www.hotelromai.hu/">Hotel Római</a>
        <small>1039 Budapest, Szent János u. 16.</small>
      </h2>
      <div class="row">
        <div class="medium-6 columns">
          <div class="flex-video">
            <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x4741d9f2fc857e93%3A0xc35642ba3fbb42bb!2s1039+Budapest%2C+Szent+J%C3%A1nos+utca+16%2C+Magyarorsz%C3%A1g!5e0!3m2!1shu!2s!4v1387560106095" width="600" height="450" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
        <div class="medium-6 columns">
          <img src="http://www.hotelromai.hu/pictures/hotel-romai-07.jpg" alt="Hotel Római">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="regisztracio" class="content">
  <div class="row">
    <div class="small-12 columns text-center">
      <a href="http://reg.fjk.hu" class="button large radius">Regisztrálj még ma!</a>
    </div>
  </div>
</section>
