---
layout: default
---
{% include 2014-intro.en.html %}

{% capture anchors %}
  <li><a href="#conference">Conference</a></li>
  <li><a href="#spirit">Spirit</a></li>
  <li><a href="#leadership">Leadership</a></li>
{% endcapture %}
{% include sticky-menu.html %}

<section id="conference" class="content">
  <div class="row">
    <div class="large-12 columns text-center">
      <h1>Youth for Jesus Conference</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-8 columns">
      <p class="lead">{%t description %}</p>
    </div>
    <div class="medium-4 columns">
      {% include home-slideshow.html %}
    </div>
  </div>
</section>

<section id="spirit" class="content">
  <div class="row"><div class="small-12 columns">
    <h1>Spirit of FJK</h1>
    <p>In seeking to uphold the distinctive message of the Seventh-day Adventist Church, FJK will promote among its participants:</p>
  </div></div>
  <div class="row">
    <div class="medium-6 columns">
      <dl>
        <dt>A respect for Scripture</dt>
        <dd>as the foundation and test of all teachings and practices.</dd>
        <dt>An appreciation for the Spirit of Prophecy</dt>
        <dd>as an authoritative source of instruction, comfort, and warning.</dd>
        <dt>A quest for Biblical holiness</dt>
        <dd>through a daily prayer and devotional experience with Jesus and a commitment to following His Word.</dd>
        <dt>A vibrant worship experience</dt>
        <dd>one that is characterized by principle, reverence, and decorum.</dd>
        <dt>A passion for lost</dt>
        <dd>souls animated by personal experience in the saving love of Jesus and a desire for His imminent return.</dd>
      </dl>
    </div>
    <div class="medium-6 columns">
      <dl>
        <dt>A cultivation of godly relationships</dt>
        <dd>preserving purity and encouraging accountability.</dd>
        <dt>An exemplary and abundant lifestyle</dt>
        <dd>in recreation, entertainment, dress, and healthful living.</dd>
        <dt>An enthusiasm for service</dt>
        <dd>through care for the needy, service to the community, promotion of human rights, and stewardship of the environment.</dd>
        <dt>A commitment to the Seventh-day Adventist Church</dt>
        <dd>as God’s remnant church by supporting and upholding its principles, organization, and leadership.</dd>
        <dt>An attitude of humility and cordiality</dt>
        <dd>as we seek to clarify, articulate, and defend the Biblical teachings of the Seventh-day Adventist church.</dd>
      </dl>
    </div>
  </div>
</section>

<div class="photo-insert"></div>

<section id="leadership" class="content text-center">
  <div class="row"><div class="small-12 columns">
    <h1>Leadership</h1>
  </div></div>
  <div class="row">
    <div class="medium-4 columns">
      <h2><small>Executive Committee</small></h2>
      <ul class="no-bullet">
        <li>László Bácsi <em>president</em></li>
        <li>Orsolya Ambrus <em>general vice president</em></li>
        <li>Melinda Rajki <em>secretary</em></li>
        <li>Zoltán Ambrus <em>treasurer</em></li>
        <li>Enikő Szőllősi</li>
        <li>Dávid Rárósi</li>
        <li>Csilla Kárpáti</li>
        <li>Eszter Tóth</li>
      </ul>
    </div>
    <div class="medium-4 columns">
      <h2><small>Board of Directors</small></h2>
      <ul class="no-bullet">
        <li>András Ambrus</li>
        <li>Károly Csengei</li>
        <li>Judit Deák</li>
        <li>Zoltán Kökéndy</li>
        <li>Tamás Ócsai</li>
        <li>Krisztián Ömböli</li>
        <li>László Szabó</li>
      </ul>
    </div>
    <div class="medium-4 columns">
      <h2><small>Departments</small></h2>
      <ul class="no-bullet">
        <li>Communication – <em>Eszter Tóth</em></li>
        <li>Logistics     – <em>Melinda Rajki</em></li>
        <li>Media         – <em>Dávid Rárósi</em></li>
        <li>Evangelism    – <em>Zsuzsanna Szabó</em></li>
        <li>Programming   – <em>Csilla Kárpáti</em></li>
      </ul>
    </div>
  </div>
</section>
