body.timer {
  background-color: #222;
}

#timers {
  h1, h2 {
    color: white;
  }

  h1 {
    font-size: 16rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3, h4 {
    color: #ccc;
  }

  h3 {
    font-size: 6rem;
  }

  h4 {
    font-size: 2rem;
  }

  .countdown {
    &.over { color: #ff4136; }
    &.live { color: #2ecc40; }
  }
}
