section#home {
  position: relative;

  .home {
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;

    h1 {
      color: #eee;
      font-variant: small-caps;
      margin-bottom: 0;

      @media (min-width: 550px) {
        font-size: 80px;
      }
    }

    h2 {
      color: #eee;
    }
  }
}

svg#header-svg {
  width: 100%;
  min-height: 550px;

  .hex {
    -webkit-transition: fill .5s ease-out;
    transition: fill .5s ease-out;
  }
}
