section#home {
  background-image: url(https://scontent-fra3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/11216721_1042005192478932_8221049969360807079_n.jpg?oh=4b1d74c6a6666816dc08a1fb3913acbe&oe=564985FE);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
}
