<li><a href="#hero" title="{%t nav.conferences.theme%}">{%t nav.conferences.theme %}</a></li>
<li><a href="#speakers" title="{%t nav.conferences.speakers%}">{%t nav.conferences.speakers %}</a></li>
<li><a href="#seminars" title="{%t nav.conferences.seminars%}">{%t nav.conferences.seminars %}</a></li>
<!-- <li><a href="#schedule" title="{%t nav.conferences.schedule%}">{%t nav.conferences.schedule %}</a></li>
<li><a href="#venue" title="{%t nav.conferences.venue%}">{%t nav.conferences.venue %}</a></li> -->
<li><a href="#registration" title="{%t nav.conferences.registration%}">{%t nav.conferences.registration %}</a></li>

{% if site.lang == "hu" %}
  <li><a href="/" title="{%t nav.home %}">{%t nav.home %}</a></li>
{% else %}
  <li><a href="/en" title="{%t nav.home %}">{%t nav.home %}</a></li>
{% endif %}
