{% if site.lang == "hu" %}
  <li><a href="/" title="{%t nav.home %}">{%t nav.home %}</a></li>
{% else %}
  <li><a href="/en" title="{%t nav.home %}">{%t nav.home %}</a></li>
{% endif %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="{%t nav.media%}">{%t nav.media %}<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/media/#2015" title="{%t media.2015 %}">{%t media.2015 %}</a></li>
    <li><a href="/media/#2014" title="{%t media.2014 %}">{%t media.2014 %}</a></li>
    <li><a href="/media/#2013" title="{%t media.2013 %}">{%t media.2013 %}</a></li>
    <li><a href="/media/#2012" title="{%t media.2012 %}">{%t media.2012 %}</a></li>
  </ul>
</li>
