<section id="fjk2014" data-stellar-background-ratio="0.5">
  <div class="row"><div class="small-12 columns">
    <h1>Before Men and Angels</h1>
    <h2>Feb 5-9, 2014<br><small>Budapest, Hungary</small></h2>
    <blockquote>
      “for we have been made a spectacle to the world, both to angels and to men” – 1Cor 4:9
    </blockquote>
    <div class="buttons">
      <a href="http://reg.fjk.hu/lang=eng" class="button radius">Register today!</a>
      {% unless page.url == "/en/2014-before-men-and-angels.html" %}
      <a href="/en/2014-before-men-and-angels.html" class="button secondary radius">More information</a>
      {% endunless %}
    </div>
  </div></div>
</section>
