<footer>
  <div class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-md-offset-2">
          <img src="/assets/img/logo-color-white.png" alt="FJK" height="80" />
        </div>

        <div class="col-md-2 col-md-offset-1">
          <img src="/assets/img/asi-logo.png" alt="ASI" height="80"/>
        </div>

        <div class="col-md-2 col-md-offset-1">
          <img src="/assets/img/sda-logo.png" alt="SDA" height="80"/>
        </div>

      </div>

      <div id="impressum">
          {%t contact %}: <a href="mailto:info@fjk.hu">info@fjk.hu</a><br>
          Copyright © 2011–{{ site.time | date: '%Y' }} {%t name %}
      </div>
    </div>
  </div>
</footer>
