<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="{%t description %}">
  <meta name="keywords" content="Fiatalok, Jézus, Konferencia, Ifjúság, Keresztény, Biblia, Adventista, Youth, Jesus, Conference, Young People, Christian, Bible, Adventist">
  <meta name="author" content="{{ site.title }}">

  <meta property="og:image" content="/assets/img/logo.png"/>
  <meta property="og:title" content="{{ site.title }}"/>
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
  <meta property="og:site_name" content="FJK"/>
  <meta property="og:description" content="{{ site.description }}"/>

  <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.ico">

  <link rel="stylesheet" href="{{ "/assets/css/fjk.min.css" | prepend: site.baseurl_root }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
