<ul data-orbit
    data-options="
      animation:fade;
      timer_speed:5000;
      resume_on_mouseout:true;
      navigation_arrows:false;
      slide_number:false;
    ">
  <li>{% image photos/2013-biblia.jpg %}</li>
  <li>{% image photos/2012-jan-cabungcal.jpg %}</li>
  <li>{% image photos/2012-kiscsoport.jpg %}</li>
  <li>{% image photos/2013-programfuzet.jpg %}</li>
  <li>{% image photos/2011-jay-rosario.jpg %}</li>
  <li>{% image photos/2013-resztvevok.jpg %}</li>
  <li>{% image photos/2013-jonathan-walter.jpg %}</li>
  <li>{% image photos/2011-outreach.jpg %}</li>
  <li>{% image photos/2012-ecom.jpg %}</li>
  <li>{% image photos/2012-felvetel.jpg %}</li>
  <li>{% image photos/2013-kiallitas-peace.jpg %}</li>
  <li>{% image photos/2011-outreach-busz.jpg %}</li>
  <li>{% image photos/2011-laszlo-szabo.jpg %}</li>
  <li>{% image photos/2013-enek.jpg %}</li>
  <li>{% image photos/2013-agi.jpg %}</li>
  <li>{% image photos/2013-sebastien-braxton.jpg %}</li>
</ul>
