{% unless page.url == "/en/index.html" %}
    <li><a href="/en/">Homepage</a></li>
{% endunless %}
{% unless page.url == "/en/2014-before-men-and-angels.html" %}
    <li><a href="/en/2014-before-men-and-angels.html">{% unless include.simple %}Before Men and Angels – {% endunless %}FJK 2014</a></li>
{% endunless %}
{% unless page.url == "/en/media.html" %}
    <li><a href="/en/media.html">Media</a></li>
{% endunless %}
    <li><a href="https://www.facebook.com/FiatalokJezusertKonferencia">{% if include.simple %}Facebook{% else %}{% image facebook.png %}{% endif %}</a></li>
