<header class="site-header">
  <nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button id="btn-nav" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a id="nav-logo" class="pull-left" href="/"></a>

      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home" title="Főoldal">Főoldal</a></li>
          <li><a href="#conference" title="A konferencia">A konferencia</a></li>
          <li><a href="#spirit" title="Alapelvek">Alapelvek</a></li>
          <li><a href="#leadership" title="Vezetőség">Vezetőség</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Felvételek">Felvételek<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/felvetelek/#2015" title="2015 - A keresztnél">2015 - A keresztnél</a></li>
              <li><a href="/felvetelek/#2014" title="2014 - Emberek és angyalok előtt">2014 - Emberek és angyalok előtt</a></li>
              <li><a href="/felvetelek/#2013" title="2013 - Cselekedj">2013 - Cselekedj</a></li>
              <li><a href="/felvetelek/#2012" title="2012 - Tölts be!">2012 - Tölts be!</a></li>
              <li><a href="/felvetelek/#2011" title="2011 - IGEn">2011 - IGEn</a></li>
            </ul>
          </li>
          <li><a href="/en" title="English">English</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
