<header class="sticky hide-for-small">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">{% image logo.png %}</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="left show-for-large-up" data-anchors>
        <li><a href="/#konferencia">A konferencia</a></li>
        <li><a href="/#alapelvek">Alapelvek</a></li>
        <li><a href="/#vezetoseg">Vezetőség</a></li>
      </ul>

      <ul class="right">
        {% include main-menu.html %}
      </ul>
    </section>
  </nav>
</header>

