<header class="sticky hide-for-small">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/{% unless page.lang == 'hu' %}{{ page.lang }}/{% endunless %}">{% image logo.png %}</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="left show-for-large-up" data-anchors>
        {{ anchors }}
      </ul>

      <ul class="right">
        {% if page.lang == 'hu' %}
          {% include main-menu.html %}
        {% else %}
          {% capture main_menu_include %}main-menu.{{page.lang}}.html{% endcapture %}
          {% include {{main_menu_include}} %}
        {% endif %}
      </ul>
    </section>
  </nav>
</header>

