---
layout: registration
---

<section id="register">
  <div class="register">
    <div class="reg-form">
      <form id="registrationForm" role="form" data-toggle="validator">
        <ul id="progressbar">
          <li class="active">{%t reg.tabs.personal.title %}</li>
          <li>{%t reg.tabs.conference.title %}</li>
          <li>{%t reg.tabs.housing.title %}</li>
          <li>{%t reg.tabs.program.title %}</li>
          <li>{%t reg.tabs.support.title %}</li>
        </ul>

        <div class="tab">
          <h2 class="fs-title">{%t reg.tabs.personal.title %}</h2>
          <h3 class="fs-subtitle">{%t reg.tabs.personal.subtitle %}</h3>

          {% include reg/personal-tab.html %}

          <input type="button" name="next" class="next action-button" value="{%t reg.next %}" />
        </div>

        <div class="tab">
          <h2 class="fs-title">{%t reg.tabs.conference.title %}</h2>

          {% include reg/conference-tab.html %}

          <input type="button" name="previous" class="previous action-button" value="{%t reg.prev %}" />
          <input type="button" name="next" class="next action-button" value="{%t reg.next %}" />
        </div>

        <div class="tab">

          {% include reg/housing-tab.html %}

          <input type="button" name="previous" class="previous action-button" value="{%t reg.prev %}" />
          <input type="button" name="next" class="next action-button" value="{%t reg.next %}" />
        </div>

        <div class="tab">
          <h2 class="fs-title">{%t reg.tabs.program.title %}</h2>
          <h3 class="fs-subtitle">{%t reg.tabs.program.subtitle %}</h3>

          {% include reg/program-tab.html %}

          <input type="button" name="previous" class="previous action-button" value="{%t reg.prev %}" />
          <input type="button" name="next" class="next action-button" value="{%t reg.next %}" />
        </div>

        <div class="tab">
          {% include reg/support-tab.html %}

          <input type="hidden" name="next" class="next action-button" />
          <input type="button" name="previous" class="previous action-button" value="{%t reg.prev %}" />
          <input type="submit" name="submit" class="submit action-button" value="{%t reg.submit %}" />

          <div id="server-error">
            <p>
              {%t reg.error.server %}
            </p>
          </div>
        </div>

        <div class="tab">
          <h2 class="fs-title">{%t reg.success.title %}</h2>
          <h3 class="fs-subtitle">{%t reg.success.subtitle %}</h3>

          <input type="button" name="previous" class="previous action-button" value="{%t reg.prev %}" />
          {% if site.lang == "hu" %}
            <a href="/conferences/2016" title="{%t conferences.2016.title %}">{%t conferences.2016.title %}</a>
          {% else %}
            <a href="/en/conferences/2016" title="{%t conferences.2016.title %}">{%t conferences.2016.title %}</a>
          {% endif %}
        </div>
      </form>
    </div>

    <div class="reg-info">
      <div class="bordered">
        {%tf conferences/2016/registration.md %}
      </div>

      <hr>

      <h4>{%t reg.price %}</h4>
      <div id="calculator">
        <p id="fullPrice">
          {%t reg.fullPrice %}
        </p>
        <p id="swagPrice">
          {%t reg.swagPrice %}
        </p>
        <p id="attendancePrice">
          {%t reg.attendancePrice %}
        </p>
        <p class="small">*{%t reg.fullPriceHelp %}</p>
      </div>
    </div>
  </div>
</section>
