---
layout: registration
---

<section id="registration">
  <div class="registration">
    <div class="reg-form">
      <form id="registrationForm">
        <ul id="progressbar">
          <li class="active">{%t reg.tabs.personal.title %}</li>
          <li>{%t reg.tabs.conference.title %}</li>
          <li>{%t reg.tabs.housing.title %}</li>
          <li>{%t reg.tabs.program.title %}</li>
          <li>{%t reg.tabs.support.title %}</li>
        </ul>

        <div class="tab">
          <h2 class="fs-title">{%t reg.tabs.personal.title %}</h2>
          <h3 class="fs-subtitle">{%t reg.tabs.personal.subtitle %}</h3>

          {% include reg/personal-tab.html %}

          <input type="button" name="next" class="next action-button" value="{%t reg.next %}" />
        </div>

        <div class="tab">
          <h2 class="fs-title">{%t reg.tabs.conference.title %}</h2>

          {% include reg/conference-tab.html %}

          <input type="button" name="previous" class="previous action-button" value="{%t reg.prev %}" />
          <input type="button" name="next" class="next action-button" value="{%t reg.next %}" />
        </div>

        <div class="tab">
          <h2 class="fs-title">{%t reg.tabs.housing.title %}</h2>
          <h3 class="fs-subtitle">{%t reg.tabs.housing.subtitle %}</h3>

          {% include reg/housing-tab.html %}

          <input type="button" name="previous" class="previous action-button" value="{%t reg.prev %}" />
          <input type="button" name="next" class="next action-button" value="{%t reg.next %}" />
        </div>

        <div class="tab">
          <h2 class="fs-title">{%t reg.tabs.program.title %}</h2>
          <h3 class="fs-subtitle">{%t reg.tabs.program.subtitle %}</h3>

          {% include reg/program-tab.html %}

          <input type="button" name="previous" class="previous action-button" value="{%t reg.prev %}" />
          <input type="button" name="next" class="next action-button" value="{%t reg.next %}" />
        </div>

        <div class="tab">
          <h2 class="fs-title">{%t reg.tabs.support.title %}</h2>
          <h3 class="fs-subtitle">{%t reg.tabs.support.subtitle %}</h3>

          {% include reg/support-tab.html %}

          <input type="button" name="previous" class="previous action-button" value="{%t reg.prev %}" />
          <input type="submit" name="submit" class="submit action-button" value="{%t reg.submit %}" />
        </div>

      </form>
    </div>

    <div class="reg-info">
      <p>
        Info
      </p>
    </div>
  </div>
</section>
