head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Fiatalok Jézusért Konferencia
  meta(name='description', content='Az FJK egy fiatalok által fiataloknak szervezett adventista konferencia. Az évente megrendezésre kerülő eseményen az előadások, szemináriumok és a találkozási lehetőségek a résztvevő ifjakat hitük megújítására, életük megreformálására és a Hetednapi Adventista Egyház tevékeny támogatására buzdítják, hogy a Hármas Angyali Üzenet ennek a generációnak a segítségével eljuthasson az egész világra.')
  meta(name='keywords', content='Fiatalok, Jézus, Konferencia, Ifjúság, Keresztény, Biblia, Adventista, Youth, Jesus, Conference, Young People, Christian, Bible, Adventist')
  meta(name='author', content='Fiatalok Jézusért Konferencia')
  meta(property='og:image', content=page.assetsPath + '/img/logo.png')
  meta(property='og:title', content='Fiatalok Jézusért Konferencia')
  meta(property='og:url', content='https://fjk.hu')
  meta(property='og:site_name', content='FJK')
  meta(property='og:description', content='Az FJK egy fiatalok által fiataloknak szervezett adventista konferencia. Az évente megrendezésre kerülő eseményen az előadások, szemináriumok és a találkozási lehetőségek a résztvevő ifjakat hitük megújítására, életük megreformálására és a Hetednapi Adventista Egyház tevékeny támogatására buzdítják, hogy a Hármas Angyali Üzenet ennek a generációnak a segítségével eljuthasson az egész világra.')
  link(rel='shortcut icon', type='image/png', href=page.assetsPath + '/img/favicon.ico')
  link(rel='stylesheet', href=page.assetsPath + '/css/fjk.min.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
