doctype html
html

  include head

  body.page-content(data-spy='scroll', data-target='#main-nav')

    include nav

    section(style='text-align:center; padding:200px 0 100px;')
      iframe(width='1279' height='720' src='https://www.youtube.com/embed/451xjRYKU7k' frameborder='0' allowfullscreen='')

    include foot
