<section id="info" class="inverted">
  <div class="seminars">
    <h1>Információk</h1>

    <div class="animated col-md-offset-4" data-wow-delay="0s">
      <dt>Előadások és program helyszíne:</dt>
      <dd>2300 Ráckeve, Bajcsy-Zsilinszky u. 90.</dd>
    </div>

    <div class="animated col-md-offset-4" data-wow-delay="0s">
      <dt>Regisztrációs költség: 5.500 Ft/fő</dt>
      <dd>Regisztráció határideje: 2016. március 9. (szerda), 23:59</dd>
    </div>

    <div class="animated col-md-offset-4" data-wow-delay="0s">
      <dt>Befizetés menete:</dt>
      <dd>Helyszíni regisztrációkor.</dd>
    </div>

    <div class="animated col-md-offset-4" data-wow-delay="0.2s">
      <dt>Befizetéssel kapcsolatos információk:</dt>
      <dd>A teljes összeg tartalmazza a programokon való részvételt és a gyülekezetben lévő szállást.</dd>
    </div>

    <div class="animated col-md-offset-4" data-wow-delay="0.2s">
      <dt>Étkezés:</dt>
      <dd>2016. március 11. (péntek) <strong>vacsora</strong>
        <br>2016. március 12. (szombat), <strong>reggeli-ebéd-vacsora</strong>
        <br>2016. március 13. (vasárnap), <strong> reggeli-ebéd-vacsora</strong>
        <br>2016. március 14. (hétfő) <strong>reggeli-ebéd</strong></dd>
    </div>

    <div class="animated col-md-offset-4" data-wow-delay="0.2s">
      <dt>Helyszíni regisztráció:</dt>
      <dd>2016. március 11., pénteken 16:00-18:15-ig.
        <br>Helyszín: 2300 Ráckeve, Bajcsy-Zsilinszky u. 90.</dd>
    </div>
  </div>
</section>
