<section id="speakers">
  <div class="speakers">
    <h1>Előadók</h1>

    <div class="speaker">
      <div class="photo-wr animated">
        <div class="photo">
          <img class="img-responsive" src="/assets/img/sebastian-matula.jpg" alt="Sebastian Matula"/>
        </div>
      </div>
      <div class="caption animated">
        <div class="name">
          <h3>Sebastian Matula</h3>
          <span class="small">Teológus-lelkész</span>
        </div>
        <div class="bio">
          <p>
            Az idén diplomáztam az angliai Newbold Főiskolán teológia szakon. Svédországban születtem magyar szülők gyermekeként. Magyarországon éltem 6 éven keresztül. Mielőtt komolyan vettem volna a hitemet és Isten szolgálatába léptem volna, profi futballista voltam, aki fényes jövőnek nézett elébe. Egy sérülés azonban megállított ezen a pályán, s ez végül elvezetett arra, hogy átgondoljam az életemet. Rádöbbentem, hogy egyedül Jézus állja ki az idők próbáját.
          </p>
        </div>
      </div>
    </div>

    <hr>

    <div class="speaker">
      <div class="photo-wr animated">
        <div class="photo">
          <img class="img-responsive" src="/assets/img/csizmadia-robert.png" alt="Csizmadia Róbert"/>
        </div>
      </div>
      <div class="caption animated">
        <div class="name">
          <h3>Csizmadia Róbert</h3>
          <span class="small">Teológus-lelkész</span>
        </div>
        <div class="bio">
          <p>
            Csizmadia Róbert, teológus-lelkész. Egyetemi diplomáját az angliai Newbold College-on szerezte, ahol teológia mellett lelkigondozást és párkapcsolati tanácsadást tanult, illetve a kollégium vezető-helyetteseként dolgozott. A Ketten Együtt Házassági Műhely társalapítója. Óraadóként dolgozott az Adventista Teológiai Főiskolán, a Janus Pannonius Tudományegyetemen és a Károli Gáspár Református Egyetemen. Nős, finn származású feleségével, Helivel, boldog házasságban él, két kislányuk van: Aino és Helmi. A Hetednapi Adventista Egyház lelkészeként dolgozik.
          </p>
        </div>
      </div>
    </div>

    <hr>

    <div class="speaker">
      <div class="photo-wr animated">
        <div class="photo">
          <img class="img-responsive" src="/assets/img/erdodi-peter.jpg" alt="Erdődi Péter"/>
        </div>
      </div>
      <div class="caption animated">
        <div class="name">
          <h3>Erdődi Péter</h3>
          <span class="small">Szoftverfejlesztő, laikus Biblia-kutató</span>
        </div>
        <div class="bio">
          <p>
            Informatikai tanulmányai után teológiát tanult a Sola Scriptura Főiskolán. Korábbi hallgatótársaival együtt mindene a Biblia-kutatás, Jézus Krisztus Evangéliumának mind mélyebb megértése és továbbadása. Jelenleg egy, de hamarosan három gyermek apukája, feleségével a Hetednapi Adventista Egyház ráckevei gyülekezetének tagjai.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
