<div class="conference-tab">
  <div class="radio">
    <label>
      <input type="radio" name="attendance" id="attendanceFull" value="full" data-price=3000 checked>
      {%t reg.form.conference.full %}
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="attendance" id="attendanceSabbath" value="sabbath" data-price=0>
      {%t reg.form.conference.sabbath %}
    </label>
  </div>

  <hr>

  <h2 class="fs-section-title">{%t reg.tabs.conference.mealTitle %}*</h2>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>{%t reg.form.conference.meal.thursday %}</th>
        <th>{%t reg.form.conference.meal.friday %}</th>
        <th>{%t reg.form.conference.meal.sabbath %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{%t reg.form.conference.meal.lunch %}</th>
        <td>
          <label class="checkbox-inline">
            <input type="checkbox" value="thursday" name="lunch" data-price=1200> 1200 Ft
          </label>
        </td>
        <td>
          <label class="checkbox-inline">
            <input type="checkbox" value="friday" name="lunch" data-price=1200> 1200 Ft
          </label>
        </td>
        <td>
          <label class="checkbox-inline">
            <input type="checkbox" value="sabbath" name="lunch" data-price=1200> 1200 Ft
          </label>
        </td>
      </tr>
      <tr>
        <th scope="row">{%t reg.form.conference.meal.dinner %}</th>
        <td>
          <label class="checkbox-inline">
            <input type="checkbox" value="thursday" name="dinner" data-price=700> 700 Ft
          </label>
        </td>
        <td>
          <label class="checkbox-inline">
            <input type="checkbox" value="friday" name="dinner" data-price=700> 700 Ft
          </label>
        </td>
        <td>
          <label class="checkbox-inline">
            <input type="checkbox" value="sabbath" name="dinner" data-price=700> 700 Ft
          </label>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="fs-section-desc">
    *{%t reg.form.conference.info %}
  </div>
</div>
