<div class="personal-tab">
  {% if site.lang == "hu" %}
    <div class="form-group">
      <input type="text" class="form-control input-lg" placeholder="{%t reg.form.name.lastName %}*" data-error="{%t reg.error.empty %}" name="lname" required>
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control input-lg" placeholder="{%t reg.form.name.firstName %}*" data-error="{%t reg.error.empty %}" name="fname" required>
      <div class="help-block with-errors"></div>
    </div>
  {% else %}
    <div class="form-group">
      <input type="text" class="form-control input-lg" placeholder="{%t reg.form.name.firstName %}*" data-error="{%t reg.error.empty %}" name="fname" required>
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control input-lg" placeholder="{%t reg.form.name.lastName %}*" data-error="{%t reg.error.empty %}" name="lname" required>
      <div class="help-block with-errors"></div>
    </div>
  {% endif %}

  <div class="form-group">
    <input type="email" name="email" class="form-control input-lg" id="inputEmail" placeholder="{%t reg.form.email %}*" data-error="{%t reg.error.email %}" required>
    <div class="help-block with-errors"></div>
  </div>

  <div class="form-group">
    <input type="text" name="birth" class="form-control input-lg" pattern="(19|20)[\d]{2}/[01][\d]/[0123][\d]" placeholder="{%t reg.form.birth %}*" data-error="{%t reg.error.birth %}" required>
    <div class="help-block with-errors"></div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control input-lg" placeholder="{%t reg.form.city %}*" data-error="{%t reg.error.empty %}" name="city" required>
    <div class="help-block with-errors"></div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control input-lg" placeholder="{%t reg.form.country %}*" data-error="{%t reg.error.empty %}" name="country" required>
    <div class="help-block with-errors"></div>
  </div>
</div>
