<div class="program-tab">
  <div class="form-group">
    <label>{%t reg.form.program.label %}</label>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="voluntary" value="{%t reg.form.program.voluntary.1 %}">
        {%t reg.form.program.voluntary.1 %}
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="voluntary" value="{%t reg.form.program.voluntary.2 %}">
        {%t reg.form.program.voluntary.2 %}
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="voluntary" value="{%t reg.form.program.voluntary.3 %}">
        {%t reg.form.program.voluntary.3 %}
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input id="otherVoluntaryChB" type="checkbox" name="voluntary" value="other">
        {%t reg.form.program.other %}
        <input id="otherVoluntaryText" type="text" name="voluntary-text" class="form-control" placeholder="{%t reg.form.program.other %}">
      </label>
    </div>
  </div>
</div>
