<div class="support-tab">
  <h2 class="fs-section-title">Póló rendelés</h2>

  <div id="shirtOrders" class="form-group">
    <div class="shirt-order form-inline row" data-count=1>
      <select name="shirtType-1">
        <option value="">Tipus</option>
        <option value="men">Ferfi (1300 Ft/db)</option>
        <option value="women">Noi (1300 Ft/db)</option>
        <option value="kid">Gyerek (1700 Ft/db)</option>
      </select>
      <select name="shirtSize-1">
        <option value="">Meret</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
        <option value="2XL">2XL</option>
        <option value="3XL">3XL (FFi)</option>
        <option value="2A">2A</option>
        <option value="4A">4A</option>
        <option value="6A">6A</option>
        <option value="8A">8A</option>
        <option value="10A">10A</option>
        <option value="12A">12A</option>
      </select>
      <select name="shirtQuantity-1">
        <option value="">Mennyiseg</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <a type="button" class="minusOne plusOne">-</a>
    </div>
  </div>
  <a id="shirtPlusOne" type="button" class="plusOne">+</a>
</div>
