<div class="support-tab">
  <h2 class="fs-section-title">Póló rendelés</h2>

  <div id="shirtOrders" class="form-group">
    <div class="shirt-order form-inline row" data-count=1>
      <input class="shirtOrder" type="hidden" name="name" data-price=0>
      <select name="shirtType-1">
        <option value="" data-single-price=0>Tipus</option>
        <option value="men" data-single-price=1500>Ferfi (1500 Ft/db)</option>
        <option value="women" data-single-price=1500>Noi (1500 Ft/db)</option>
        <option value="kid" data-single-price=1700>Gyerek (1700 Ft/db)</option>
        <option value="menHoody" data-single-price=3700>Ffi pullcsi (3700 Ft/db)</option>
        <option value="womenHoody" data-single-price=3700>Noi pullcsi (3700 Ft/db)</option>
      </select>
      <select name="shirtSize-1">
        <option class="menHoody womenHoody men women kid" value="" data-single-price=0>Meret</option>
        <option class="menHoody womenHoody men women" value="S" data-single-price=1>S</option>
        <option class="menHoody womenHoody men women" value="M" data-single-price=1>M</option>
        <option class="menHoody womenHoody men women" value="L" data-single-price=1>L</option>
        <option class="menHoody womenHoody men women" value="XL" data-single-price=1>XL</option>
        <option class="menHoody womenHoody men women" value="2XL" data-single-price=1>2XL</option>
        <option class="men" value="3XL" data-single-price=1>3XL</option>
        <option class="kid" value="2A" data-single-price=1>2A</option>
        <option class="kid" value="4A" data-single-price=1>4A</option>
        <option class="kid" value="6A" data-single-price=1>6A</option>
        <option class="kid" value="8A" data-single-price=1>8A</option>
        <option class="kid" value="10A" data-single-price=1>10A</option>
        <option class="kid" value="12A" data-single-price=1>12A</option>
      </select>
      <select class="shirtColor" name="shirtColor-1">
        <option class="menHoody womenHoody" value="Navy" data-single-price=1>Navy</option>
        <option class="womenHoody" value="Sport Grey" data-single-price=1>Sport Grey</option>
        <option class="menHoody" value="Forest green" data-single-price=1>Forest green</option>
        <option class="menHoody" value="Maroon" data-single-price=1>Maroon</option>
        <option class="menHoody" value="Dark Chocolate" data-single-price=1>Dark Chocolate</option>
      </select>
      <select name="shirtQuantity-1">
        <option value="" data-single-price=0>Mennyiseg</option>
        <option value="1" data-single-price=1>1</option>
        <option value="2" data-single-price=2>2</option>
        <option value="3" data-single-price=3>3</option>
        <option value="4" data-single-price=4>4</option>
        <option value="5" data-single-price=5>5</option>
      </select>
      <a type="button" class="minusOne plusOne">-</a>
    </div>
  </div>
  <a id="shirtPlusOne" type="button" class="plusOne">+</a>
</div>
