<section id="schedule">
  <div class="schedule">
    <h1>{%t nav.conferences.schedule %}</h1>

    <div class="text-center">
      <a href="{%t booklet.link %}" target="_blank">{%t booklet.text %}</a>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>{%t reg.form.conference.meal.wednesday %}</h3>
          <table class="table table-striped table-bordered table-condensed">
            <tbody>
              {%tf conferences/2016/schedule/wednesday.md %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h3>{%t reg.form.conference.meal.thursday %}</h3>
          <table class="table table-striped table-bordered table-condensed">
            <tbody>
              {%tf conferences/2016/schedule/thursday.md %}
            </tbody>
          </table>
        </div>

        <div class="col-md-6">
          <h3>{%t reg.form.conference.meal.friday %}</h3>
          <table class="table table-striped table-bordered table-condensed">
            <tbody>
              {%tf conferences/2016/schedule/friday.md %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>{%t reg.form.conference.meal.sabbath %}</h3>
          <table class="table table-striped table-bordered table-condensed">
            <tbody>
              {%tf conferences/2016/schedule/sabbath.md %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>{%t reg.form.conference.meal.sunday %}</h3>
          <table class="table table-striped table-bordered table-condensed">
            <tbody>
              {%tf conferences/2016/schedule/sunday.md %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
