@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,latin-ext);

@import "settings";
@import "foundation";

body > section { min-height: 500px; }

#cover-fjk2014 {
  padding: 25% 0 15%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media #{$small-up}  { background-image: image-url("2014/bg-s.jpg"); }
  @media #{$medium-up} { background-image: image-url("2014/bg-m.jpg"); }
  @media #{$large-up}  { background-image: image-url("2014/bg-l.jpg"); }
  @media #{$xlarge-up} { background-image: image-url("2014/bg-xl.jpg"); }

  > div {
    text-align: center;
  }

  * {
    color: #eee;
  }

  blockquote {
    border-width: 0;
  }
}

#konferencia {
  background-color: #fff;
}

#alapelvek {
  background-color: #3c3a47;
  h1 { color: #eee; }
}

#vezetoseg {
  background-color: #a1b59a;
  color: #ff9d00;
}
