<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:site_name" content="FJK">
<meta property="og:title" content="Fiatalok Jézusért Konferencia">
<meta property="og:description" content="Az FJK egy fiatalok által fiataloknak szervezett adventista konferencia. Az évente megrendezésre kerülő eseményen az előadások, szemináriumok és a találkozási lehetőségek a résztvevő ifjakat hitük megújítására, életük megreformálására és a H.N. Adventista Egyház tevékeny támogatására buzdítják, hogy a Hármas Angyali Üzenet ennek a generációnak a segítségével eljuthasson az egész világra.">
<meta property="og:image" content="http://fjk.hu/assets/images/fjk_logo.png">

<title>{% if page.title %}FJK ✢ {{ page.title }}{% else %}Fiatalok Jézusért Konferencia{% endif %}</title>
<meta name="description" content="Az FJK egy fiatalok által fiataloknak szervezett adventista konferencia. Az évente megrendezésre kerülő eseményen az előadások, szemináriumok és a találkozási lehetőségek a résztvevő ifjakat hitük megújítására, életük megreformálására és a H.N. Adventista Egyház tevékeny támogatására buzdítják, hogy a Hármas Angyali Üzenet ennek a generációnak a segítségével eljuthasson az egész világra.">
<meta name="keywords" content="Fiatalok, Jézus, Konferencia, Ifjúság, Keresztény, Biblia, Adventista">

<link rel="shortcut icon" type="image/ico" href="/assets/images/favicon.ico">

{% stylesheet site %}
</head>

<body>

{{ content }}

{% javascript site %}
</body>

</html>
