<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:site_name" content="FJK">
<meta property="og:title" content="Fiatalok Jézusért Konferencia">
<meta property="og:description" content="{{ "description" | t | strip_newlines }}">
<meta property="og:image" content="http://fjk.hu{% asset_path logo.png %}">

<title>{% if page.title %}FJK ✢ {{ page.title }}{% else %}{%t Fiatalok Jézusért Konferencia %}{% endif %}</title>
<meta name="description" content="{{ "description" | t | strip_newlines }}">
<meta name="keywords" content="Fiatalok, Jézus, Konferencia, Ifjúság, Keresztény, Biblia, Adventista, Youth, Jesus, Conference, Young People, Christian, Bible, Adventist">

<link rel="shortcut icon" type="image/ico" href="{% asset_path favicon.ico %}">

{% stylesheet site %}
</head>

<body>

<div class="off-canvas-wrap"><div class="inner-wrap">

{% include off-canvas-menu.html %}

{{ content }}

{% include footer.html %}

</div></div>

{% javascript site %}
{% include google-analytics.html %}
</body>

</html>
