<section id="conference" class="conference-wr">
  <div class="conference">
    <h1>Fiatalok Jézusért Konferencia</h1>

    <div>
      <div class="conference-desc">
        Az FJK egy fiatalok által fiataloknak szervezett adventista konferencia. Az évente megrendezésre kerülő eseményen az előadások, szemináriumok és a találkozási lehetőségek a résztvevő ifjakat hitük megújítására, életük megreformálására és a Hetednapi Adventista Egyház tevékeny támogatására buzdítják, hogy a Hármas Angyali Üzenet ennek a generációnak a segítségével eljuthasson az egész világra.
      </div>
      <div class="conference-photo">
        a
      </div>
    </div>
  </div>
</section>
