<section id="home">
  <svg id="header-svg"></svg>
  <div class="home">
    <div class="container">
      <div class="row">
        <h1>{%t name %}</h1>
        <h2>{%t subtitle %}</h2>
      </div>

      <div class="social row">
        <div class="youtube social-icon">
          <a href="https://www.youtube.com/channel/UCA4IZxNaPmDCrQrG-ToCwBA/feed" target="_blank">
            <i class="fa fa-youtube-square">YouTube</i>
          </a>
        </div>
        <div class="facebook social-icon">
          <a href="https://www.facebook.com/FiatalokJezusertKonferencia" target="_blank">
            <i class="fa fa-facebook-square">Facebook</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
