<section id="leadership" class="leadership-wr">

  <div class="leadership">
    <h1>Vezetőség</h1>

    <div id="executive-committee" class="leadership-list">
      <h2>Bizottság</h2>
      <ul>
        <li>Szőllősi Enikő <em>elnök</em></li>
        <li>Rajki János <em>titkár</em></li>
        <li>Döbrei-Rakonczai Judit <em>pénztáros</em></li>
        <li>Kárpáti Csilla</li>
        <li>Rárósi Dávid</li>
        <li>Tóth Eszter</li>
      </ul>
    </div>

    <div id="board-of-directors" class="leadership-list">
      <h2>Igazgatótanács</h2>
      <ul>
        <li>Ambrus András</li>
        <li>Ambrus Zoltán</li>
        <li>Bácsi László</li>
        <li>Csengei Károly</li>
        <li>Csizmadia Róbert</li>
        <li>Erdődi Péter</li>
        <li>Farkas Kamil</li>
        <li>Farkasné Rajki Melinda</li>
        <li>Németh-Ambrus Orsolya</li>
        <li>Mészáros Boglárka</li>
        <li>Ócsai Imre</li>
        <li>Ócsai Sándor</li>
        <li>Szallós-Farkas Zoltán</li>
      </ul>
    </div>

    <div id="departments" class="leadership-list">
      <h2>Munkacsoportok</h2>
      <ul>
        <li>Kommunikáció – <em>Tóth Eszter</em></li>
        <li>Logisztika   – <em>Döbrei-Rakonczai Judit</em></li>
        <li>Média        – <em>Döbrei Gábor</em></li>
        <li>Misszió      – <em>Rárósi Dávid</em></li>
        <li>Program      – <em>Kárpáti Csilla</em></li>
        <li>Projekt      – <em>Matus István</em></li>
      </ul>
    </div>
  </div>

</section>
