<section id="leadership">

  <div class="leadership">
    <h1>{%t nav.leadership %}</h1>

    <div id="executive-committee" class="animated leadership-list" data-wow-delay="0.3s">
      {%tf leadership/ecom.md %}
    </div>

    <div id="board-of-directors" class="animated leadership-list" data-wow-delay="0.3s">
      {%tf leadership/board.md %}
    </div>

    <div id="departments" class="animated leadership-list" data-wow-delay="0.3s">
      {%tf leadership/departments.md %}
    </div>
  </div>

</section>
