<% audio_url = "http://fjk-audio.s3-eu-west-1.amazonaws.com#{file}" %>
<dt><%= title %></dt>
<dd>
  <audio src="<%= audio_url %>" preload="none"></audio>
  <p><a href="<%= audio_url %>"><%= t 'media.download' %></a></p>
</dd>
