<% simple ||= false %>

<%= menu_link 'home', '/' %>
<%= menu_link 'media', 'media' %>

<% (langs - [I18n.locale]).each do |lang| %>
<%= menu_link 'lang', current_page_id, lang %>
<% end %>

<li>
  <a href="https://www.facebook.com/FiatalokJezusertKonferencia"><%= simple ? 'Facebook' : image_tag('facebook.png') %></a>
</li>
