<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><label class="first"><%= t :name %></label></li>
    <li><a href="/"><%= t :home %></a></li>
    <%= partial 'main_menu', locals: { simple: true } %>
  </ul>
</aside>

<nav class="tab-bar show-for-small">
  <a class="left-off-canvas-toggle menu-icon">
    <span><%= t 'menu.menu' %></span>
  </a>
</nav>

<a class="exit-off-canvas" href="#"></a>
